@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
* {
    font-family: monospace;
    font-size: 20px;
}
.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    grid-gap: 0;
}
h1 {
    text-align: center;
}
p {
    padding: 0 20px;
}
.card {
    border: 3px solid #000;
    text-align: center;
    margin: 10px;
    width: 15rem;
}
.img {
    width: 15rem;
}
.border--red {
    border: 3px solid red;
}
.button {
    margin: 20px 0;
}
span {
    display: block;
}
.none {
    display: none;
}
.table-container {
    display: flex;
    justify-content: center;
}
.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
}
.table thead tr {
    background-color: blanchedalmond;
    color: #fff;
    text-align: left;
    font-weight: bold;
}
.table td, 
.table th {
    padding: 12px 15px;
}